.questionHead {
  font-weight: 100;
  font-size: 40px;
  line-height: 5px;
  margin: 0px 80px;
}
.breakline {
  border: 1px solid black;
  width: 100%;
}
.answer {
  width: 1088px;
  height: auto;
  background-color: #d9d9d9;
  border-radius: 8px;
  margin: 20px 80px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  padding: 30px;
}
.arrow {
  margin: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 50px;
}
.up {
  color: white;
  font-size: 150px;
}
.answertitle {
  color: #5a3939;
  font-size: 20px;
  font-weight: 400;
}
.author {
  color: #7c5959;
}
.vote {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 250px;
}
.cmtbtn {
  background-color: white;
  border: none;
  padding: 12px 25px;
  border-radius: 20px;
  color: #7c5959;
}
.answerForm {
  width: auto;
  position: relative;
  align-self: center;
  bottom: 0;
}
.body {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}
.textbox {
  border: none;
  border-radius: 20px;
  padding: 20px;
  width: 600px;
  border: 1px solid #7c5959;
}
.form {
  display: flex;
  flex-direction: column;
  width: auto;
}
.submitbtn {
  width: 150px;
  margin-top: 10px;
  cursor: pointer;
  font-weight: 500;
  padding: 11px 28px;
  border-radius: 12px;
  font-size: 0.8rem;
  border: 1px solid #7c5959;
  color: #2c3e50;
  background: #fcfcfc;
  transition: all 0.25s ease;
}

.votes {
  background-color: white;
  padding: 5px;
  border-radius: 105px;
}
.firstname {
  align-self: flex-end;
  color: blue;
  margin: 0px;
}

.date {
  margin: 0px;
  align-self: flex-end;
  color: gray;
}

@media screen and (max-width: 480px) {
  .questionHead {
    font-size: 20px;
    line-height: 1px;
    margin: 0px 30px;
  }
  .answer {
    width: 350px;
    height: auto;
    padding: 10px;
    margin: 0px;
    margin-top: 30px;
  }
  .arrow {
    margin: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 25px;
  }
  .answertitle {
    color: #5a3939;
    font-size: 10px;
    font-weight: 400;
  }
  .author {
    padding: 0px;
    margin: 0pxs;
    color: #7c5959;
    font-size: 10px;
  }
  .vote {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 150px;
  }

  .votes {
    background-color: white;
    padding: 0px;
    margin: 5px;
    border-radius: 5px;
    font-size: 10px;
  }
  .cmtbtn {
    background-color: white;
    border: none;
    padding: 1px;
    border-radius: 5px;
    color: #7c5959;
  }
  .answerForm {
    width: 350px;
    position: absolute;
    align-self: center;
    bottom: 0;
  }
  .textbox {
    border: none;
    border-radius: 20px;
    padding: 20px;
    width: auto;
    border: 1px solid #7c5959;
  }
}
