.body {
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
.message{
  padding: 0px 50px;
  margin:  0px 25px;
}
.loginbody {
  width: 500px;
  height: auto;
  background-color: #d9d9d9;
  border-radius: 41px;
  margin: 70px;
  display: flex;
  flex-direction: column;
}
.loginHead {
  font-weight: bolder;
  font-size: 30px;
  margin-left: 50px;
  margin-bottom: 0px;
}
.loginTitle {
  font-weight: lighter;
  margin-left: 50px;
  margin-top: 0px;
}
.email {
  padding: 15px 20px;
  margin: 20px 50px;
  border: none;
  border-radius: 10px;
}
.password {
  padding: 15px 20px;
  margin: 20px 50px;
  border: none;
  border-radius: 10px;
}
::placeholder {
  color: black;
  font-size: large;
}
.loginbtn {
  border: none;
  background-color: #f29b9b;
  color: white;
  width: 60px;
  height: 40px;
  border-radius: 5px;
  margin-left: 50px;
}
.terms {
  font-weight: lighter;
  margin-left: 50px;
  margin-top: 0px;
}
.error {
  padding: 5px;
  background-color: lightcoral;
  color: white;
  border-radius: 10px;
  margin: 0px 50px;
}
.success {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 2px 15px;
  margin: 0px 50px;
  background-color: lightgreen;
  color: white;
  border-radius: 10px;
}
.successicon {
  color: green;
}

