.commentBody{
    display: flex;
    flex-direction: column;
    align-content: flex-end;
    align-items: flex-end;
    margin:20px 80px;
}
.comment{
    width: 974px;
    height: 30px;
    border-radius: 30px;
    background-color: #D9D9D9;
    padding: 5px 20px;
    margin: 10px 70px;
}
.anwerCenter{
    align-self: flex-start;
}
.commentinput{
    padding: 15px 20px;
    margin: 20px 50px;
    border: 1px solid black;
    border-radius: 10px;
}
.commentsubmit{
    margin-top: 10px;
    cursor: pointer;
    font-weight: 500;
    padding: 11px 28px;
    border-radius: 12px;
    font-size: 0.8rem;
    border: none;
    color: #2c3e50;
    background: #fcfcfc;
    transition: all 0.25s ease;
}