.home{
    border: 1px solid salmon;
    border-radius: 5px;
    margin :10px;
    padding: 5px;
}
.questions{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: auto;
    justify-content: space-between;
}
.deleteicon{
    color: red;
}

.editicon{
    color: lightblue;
}